@page "/MqttExamples"
@using Microsoft.Extensions.Localization
@using global::MqttExamples.Localization
@inject IStringLocalizer<MqttExamplesResource> L
@{
}
<h1>MqttExamples</h1>
<p>@L["SamplePageMessage"]</p>