@page
@using Microsoft.Extensions.Localization
@using MqttExamples.Localization
@model MqttExamples.Web.Pages.MqttExamples.IndexModel
@inject IStringLocalizer<MqttExamplesResource> L
@{
}
<h1>MqttExamples</h1>
<p>@L["SamplePageMessage"]</p>
